<!doctype html>
<html lang="en">
<head><title>One Mock</title>
    <link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet"/>
    <link href="/favicon.ico" rel="icon">
    <script defer="defer" src="/static/898.991fd905d0e17ad2a199.js"></script>
    <script defer="defer" src="/static/main.991fd905d0e17ad2a199.js"></script>
</head>
<body>
<div id="app"></div>
</body>
</html>