<!doctype html>
<html lang="en">
<head><title>One Mock</title>
    <link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet"/>
    <base href="/">
    <link href="/favicon.ico" rel="icon">
    <script defer="defer" src="/static/898.9de3632223cd1f1b3dc8.js"></script>
    <script defer="defer" src="/static/main.9de3632223cd1f1b3dc8.js"></script>
</head>
<body>
<div id="app"></div>
</body>
</html>