.nav {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.body {
    height: 85vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.left_body {
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.right_body {
    height: 85vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: auto;
}

.request {
    width: 90%;
    height: 10vh;
    margin: 2% 5% 2% 5%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#selected_request {
    background-color: lightgrey;
}

.method {
    border-radius: 15px 0px 0px 15px;
    height: 100%;
    color: white;
    text-align: center;
    font-size: 20px;
    width: 20%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}

.path {
    width: 60%;
    height: 10vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time_stamp {
    width: 20%;
}

.full_request {
    width: 90%;
    margin: 2% 5% 2% 5%;
}

.header {
    display: flex;
    flex-direction: row;
}

.header_title {
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    background-color: #0085FF;
    color: white;
    font-weight: bold;
}

.header_key, .header_value {
    margin: 5px;
    padding: 5px;
}

.request_body {
    margin: 5px;
    padding: 5px;
}