.disable{
    display: none;
}

.enable{
    display: block;
}

.body {
    height: 85vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: auto;
}

.input_1{
    width: 100%;
    flex-direction: row;
    justify-content: center;
}