.delete_button, .edit_button{
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    cursor: pointer;
    transition: box-shadow 0.2s linear;
    font-family: 'Aclonica';
}

.delete_button{
    background-color: red;
    border-radius: 10px 0px 0px 10px;
}

.edit_button{
    background-color: blue;
    border-radius: 0px 10px 10px 0px;
}

.delete_button:hover, .edit_button:hover{
    box-shadow: 8px 8px 8px 4px rgb(0,0,0,0.25);
}