<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="/css/capture.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet">
    <title>Capture Traffic</title>
    <script src="/javascript/common.js"></script>
</head>

<script>
    window.onload = function () {
        let doc = document.getElementById('request_scroll');
        var scrollPos = localStorage.getItem('scrollPos');
        if (scrollPos) doc.scrollTo(0, scrollPos);
    };

    function redirect(id) {
        let doc = document.getElementById('request_scroll');
        localStorage.setItem('scrollPos', doc.scrollTop);
        location.href = '/dashboard/capture?id=' + id;
    }


</script>

<body>
<div class="root">

    <!-- Navigation Bar -->
    <div class="nav">
        <div class="buttons">
            <div class="nav_button" onclick="gotoHome();">
                Home
            </div>
            <div class="nav_button" onclick="gotoCapture();">
                Capture
            </div>
            <div class="nav_button" onclick="gotoMock();">
                Mock Api's
            </div>
            <div class="nav_button" onclick="gotoGithub();">
                GitHub
            </div>
        </div>
    </div>

    <!-- Body -->
    <div class="body">
        <div class="left_body" id="request_scroll">
            <div class="request"
                 th:attr="onclick=${'redirect('+request.id+')'}"
                 th:each="request : ${requests}"
                 th:id="${hasFullRequest && (fullRequest.id == request.id)} ? 'selected_request' : 'request'">
                <div class="method" th:text="${request.method}"></div>
                <div class="path" th:text="${request.path}"></div>
                <div class="time_stamp" th:text="${request.timeStamp}"></div>
            </div>
        </div>
        <div class="right_body">
            <div th:if="${hasFullRequest}">
                <div class="full_request">
                    <div class="header_title">Headers</div>
                    <div th:each="header : ${fullRequest.headers}">
                        <div class="header">
                            <div class="header_key" th:text="${header.key}"></div>
                            <div class="header_key">:</div>
                            <div class="header_value" th:text="${header.value}"></div>
                        </div>
                    </div>
                    <div class="header_title">Body</div>
                    <div class="request_body" th:text="${fullRequest.body}"></div>
                </div>
            </div>
            <div th:unless="${hasFullRequest}">
                <div class="full_request">
                    <div>select a request to show</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>