<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="/css/create-mock.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet">
    <title>Create Mock</title>
    <script src="/javascript/common.js"></script>
    <script src="/javascript/create-mock.js"></script>
</head>

<body>
<div class="root">
    <!-- Navigation Bar -->
    <div class="nav">
        <div class="buttons">
            <div class="nav_button" onclick="gotoHome();">
                Home
            </div>
            <div class="nav_button" onclick="gotoCapture();">
                Capture
            </div>
            <div class="nav_button" onclick="gotoMock();">
                Mock Api's
            </div>
            <div class="nav_button" onclick="gotoGithub();">
                GitHub
            </div>
        </div>
    </div>

    <!-- Body -->
    <div class="body">
        <form action="#" method="post"
              th:action="${mode == 'create' ? '/dashboard/mocks/create' : '/dashboard/mocks/update'}"
              th:object="${mock}">
            <div class="input_1">
                <input th:field="*{id}" type="hidden"/>
                <label>Method:</label>
                <select th:field="*{method}">
                    <option th:each="p : ${methods}" th:text="${p}" th:value="${p}"/>
                </select>

                <label>Path:</label>
                <input required th:field="*{path}" type="text"/>

                <label>Duration:</label>
                <input max="10" min="0" required th:field="*{duration}" type="number"/><br/>
            </div>

            <div class="enable" id="response_body">
                <textarea cols="66" id="responseBody" placeholder="Enter the Response Body" rows="5"
                          th:field="*{responseBody}"></textarea>
                <br/>
                <label>Status Code: </label>
                <input th:field="*{statusCode}" type="number"/>
            </div>

            <label>Need Multiple Response? </label>
            <input id="customResponse" th:field="*{hasMultipleResponse}" type="checkbox"/><br/>

            <div class="disable" id="custom_response">
                <label>Multiple Response Body</label>
                <table>
                    <thead>
                    <tr>
                        <th>Is Header?</th>
                        <th>Request</th>
                        <th>Response Body</th>
                        <th>Status Code</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody id="t_body">
                    <tr th:each="customResponseDto, itemStat : *{customResponseDtoSet}"
                        th:id="${'t_row_'+itemStat.index}">
                        <td>
                            <input th:field="*{customResponseDtoSet[__${itemStat.index}__].isHeader}" type="checkbox"/>
                        </td>
                        <td>
                            <textarea cols="59" placeholder="Enter the Request Body" rows="5"
                                      th:field="*{customResponseDtoSet[__${itemStat.index}__].requestValue}"></textarea>
                        </td>
                        <td>
                            <textarea cols="59" placeholder="Enter the Response Body" rows="5"
                                      th:field="*{customResponseDtoSet[__${itemStat.index}__].responseBody}"></textarea>
                        </td>
                        <td>
                            <input placeholder="Status Code"
                                   th:field="*{customResponseDtoSet[__${itemStat.index}__].statusCode}"
                                   type="number"/>
                        </td>
                        <td>
                            <button th:attr="onclick=${'deleteCustomResponse(event, '+itemStat.index+');'}">Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button onclick="addCustomResponse(event);">Add More</button>
            </div>
            <input type="submit" value="submit">
            <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/>
        </form>
    </div>
</div>
</body>

</html>