<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="/css/create-mock.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet">
    <title>Create Mock</title>
    <script src="/javascript/common.js"></script>
</head>

<script>
    let last_mock_id = 0;
    window.onload = function () {
        var checkbox = document.getElementById("customResponse");
        last_mock_id = 0;

        checkbox.addEventListener('change', function() {
            if (this.checked) {
                document.getElementById("response_body").className = "disable";
                document.getElementById("custom_response").className = "enable";
            } else {
                document.getElementById("response_body").className = "enable";
                document.getElementById("custom_response").className = "disable";
            }
        });
    };

    function addCustomResponse(event){
        event.preventDefault();
        let t_body = document.getElementById('t_body');
        let len = t_body.getElementsByTagName('tr').length;
        let clone = t_body.getElementsByTagName('tr')[0].cloneNode(true);
        let str = clone.innerHTML;
        last_mock_id++;
        str = str.replaceAll(clone.id.split("_")[2], ""+last_mock_id);
        clone.id = 't_row_'+last_mock_id
        clone.innerHTML = str;
        t_body.appendChild(clone);
    }

    function deleteCustomResponse(event, index){
        event.preventDefault();
        let t_body = document.getElementById('t_body');
        let list = t_body.getElementsByTagName('tr');

        if(list.length == 1){
            document.getElementById("customResponse").checked = false;
            document.getElementById("response_body").className = "enable";
            document.getElementById("custom_response").className = "disable";
            return;
        }

        for(let i=0;i<list.length;i++){
            if(list[i].id == 't_row_'+index){
                list[i].remove();
            }
        }
    }
</script>

<body>
<div class="root">

    <!-- Navigation Bar -->
    <div class="nav">
        <div class="buttons">
            <div class="nav_button" onclick="gotoHome();">
                Home
            </div>
            <div class="nav_button" onclick="gotoCapture();">
                Capture
            </div>
            <div class="nav_button" onclick="gotoMock();">
                Mock Api's
            </div>
            <div class="nav_button" onclick="gotoGithub();">
                GitHub
            </div>
        </div>
    </div>

    <!-- Body -->
    <div class="body">
        <form action="#" method="post" th:action="@{/dashboard/mocks}" th:object="${mock}">
            <div class="input_1">
                <label>Method:</label>
                <select th:field="*{method}">
                    <option th:each="p : ${methods}" th:text="${p}" th:value="${p}"/>
                </select>

                <label>Path:</label>
                <input required th:field="*{path}" type="text"/>

                <label>Duration:</label>
                <input max="10" min="0" required th:field="*{duration}" type="number"/><br/>

            </div>

            <div class="enable" id="response_body">
                <textarea cols="66" id="responseBody" placeholder="Enter the Response Body" rows="5"
                          th:field="*{responseBody}"></textarea>
            </div>

            <label>Need Multiple Response? </label>
            <input id="customResponse" th:field="*{hasMultipleResponse}" type="checkbox"/><br/>

            <div class="disable" id="custom_response">
                <label>Multiple Response Body</label>
                <table>
                    <thead>
                    <tr>
                        <th>Is Header?</th>
                        <th>If Request Body is</th>
                        <th>Then Response Body</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody id="t_body">
                    <tr id="t_row_0" th:each="customResponseDto, itemStat : *{customResponseDtoSet}">
                        <td>
                            <input th:field="*{customResponseDtoSet[__${itemStat.index}__].isHeader}" type="checkbox"/>
                        </td>
                        <td>
                            <textarea cols="66" placeholder="Enter the Request Body" rows="5"
                                      th:field="*{customResponseDtoSet[__${itemStat.index}__].requestValue}"></textarea>
                        </td>
                        <td>
                            <textarea cols="66" placeholder="Enter the Response Body" rows="5"
                                      th:field="*{customResponseDtoSet[__${itemStat.index}__].responseBody}"></textarea>
                        </td>
                        <td>
                            <button th:onclick="deleteCustomResponse(event, 0);">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button onclick="addCustomResponse(event);">Add More</button>
            </div>
            <input type="submit" value="submit">
            <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/>
        </form>
    </div>
</div>
</body>

</html>