<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>One Mock</title>
    <link href="/css/home-page.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet">
    <script src="/javascript/common.js"></script>
</head>

<body>
<div class="root">
    <div class="gradient">
        <div class="nav">
            <div class="buttons">
                <div class="nav_button" onclick="gotoHome();">
                    Home
                </div>
                <div class="nav_button" onclick="gotoCapture();">
                    Capture
                </div>
                <div class="nav_button" onclick="gotoMock();">
                    Mock Api's
                </div>
                <div class="nav_button" onclick="gotoGithub();">
                    Github
                </div>
            </div>
        </div>
        <div class="one-mock">
            One Mock
        </div>
    </div>
</div>
</body>

</html>