<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>One Mock</title>
    <link rel="stylesheet" href="../static/css/home-page.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
</head>

<body>
    <div class="root">
        <div class="one-mock">
            One Mock
        </div>
        <div class="gradient">
            <div class="nav">
                <div class="buttons">
                    <div class="nav_button">
                        Home
                    </div>
                    <div class="nav_button">
                        Capture
                    </div>
                    <div class="nav_button">
                        Mock Api's
                    </div>
                    <div class="nav_button">
                        GitHub
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>