<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="/css/capture.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <link href="/css/mocks.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet">
    <title>Mock Api's</title>
    <script src="/javascript/common.js"></script>
    <script src="/javascript/mocks.js"></script>
</head>

<body>
<div class="root">
    <!-- Navigation Bar -->
    <div class="nav">
        <div class="buttons">
            <div class="nav_button" onclick="gotoHome();">
                Home
            </div>
            <div class="nav_button" onclick="gotoCapture();">
                Capture
            </div>
            <div class="nav_button" onclick="gotoMock();">
                Mock Api's
            </div>
            <div class="nav_button" onclick="gotoGithub();">
                GitHub
            </div>
        </div>
    </div>

    <!--  Neck  -->
    <div class="neck">
        <label class="switch">
            <input id="capture" onclick="toggleCapture()" type="checkbox">
            <span class="slider round"></span>
        </label>
        <div class="create_mocks" onclick="location.href = '/dashboard/mocks/create';" style="background-color: green">
            <img height="55px" src="/images/plus.png" style="color: white" width="55px">
        </div>
    </div>

    <!-- Body -->
    <div class="empty_body" th:if="${empty}">
        <div>Nothing to Show</div>
        <div style="font-size: 1.5rem">Create a mock using the ' + ' button.</div>
    </div>
    <div class="body" th:unless="${empty}">
        <div class="left_body" id="request_scroll">
            <div class="request"
                 th:attr="onclick=${'redirect('+mock.id+')'}"
                 th:each="mock : ${mocks}"
                 th:id="${(fullMock.id == mock.id)} ? 'selected_request' : 'request'"
                 th:style="${(fullMock.id != mock.id)} ? ${'filter: drop-shadow(4px 4px 4px '+mock.color+');'} : ${'color:white; background-color: '+mock.color}">
                <div class="method" th:style="${'background-color: '+mock.color}" th:text="${mock.method}"></div>
                <div class="path" th:text="${mock.path}"></div>
                <div class="time_stamp" th:text="${mock.duration}"></div>
            </div>
        </div>
        <div class="right_body">
            <div style="display: flex; flex-direction: row; width: 96%; margin: 0% 2% 5% 2%;">
                <div class="delete_button" th:attr="onclick=${'openDelete('+fullMock.id+')'}">Delete</div>
                <div class="edit_button" th:attr="onclick=${'openEdit('+fullMock.id+')'}">Edit</div>
            </div>
            <div class="full_request">

                <div class="input_1">
                    <label th:text="${'Method: '+fullMock.method}"></label>

                    <label th:text="${'Path: '+fullMock.path}"></label>

                    <label th:text="${'Duration: '+fullMock.duration+' seconds'}"></label>
                </div>
                <label th:text="${'Multi Response: '+fullMock.hasMultipleResponse}"></label>
                <div th:if="${fullMock.hasMultipleResponse}">
                    <label>Multiple Response Body</label>
                    <table>
                        <thead>
                        <tr>
                            <th>Is Header?</th>
                            <th>If Request Body is</th>
                            <th>Then Response Body</th>
                        </tr>
                        </thead>
                        <tbody id="t_body">
                        <tr id="t_row_0"
                            th:each="customResponseDto, itemStat : ${fullMock.customResponseDtoSet}">
                            <td>
                                <label th:text="${fullMock.customResponseDtoSet[__${itemStat.index}__].isHeader}"
                                ></label>
                            </td>
                            <td>
                                <p th:text="${fullMock.customResponseDtoSet[__${itemStat.index}__].requestValue}"></p>
                            </td>
                            <td>
                                <p th:text="${fullMock.customResponseDtoSet[__${itemStat.index}__].responseBody}"></p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:unless="${fullMock.hasMultipleResponse}">
                    <label th:text="${'Status Code: '+fullMock.statusCode}"></label>
                    <p th:text="${fullMock.responseBody}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>