.delete_button,
.edit_button {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 50%;
    cursor: pointer;
    transition: width 0.1s linear;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
    border-radius: 15px;
    font-size: 1.1rem;
}

.delete_button {
    background-color: #f93e3d;
    margin-right: 0.75%;
    border: 2px solid #f93e3d;
}

.edit_button {
    background-color: #0d5ba6;
    border: 2px solid #0d5ba6;
}

table,
th,
td {
    border: 1px solid;
}

table {
    width: 100%;
    border-collapse: collapse;
}

form {
    display: flex;
    flex-direction: column;
}

.xtb {
    display: table;
    font-family: monospace;
}
.xtc {
    display: table-cell;
}
.xmt {
    color: #0000cc;
    display: inline;
}
.xel {
    color: #990000;
    display: inline;
}
.xdt {
    color: #000000;
    display: inline;
}
.xat {
    color: #ff0000;
    display: inline;
}
