.delete_button,
.edit_button {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 50%;
    cursor: pointer;
    transition: width 0.1s linear;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
    border-radius: 15px;
    font-size: 1.1rem;
}

.delete_button {
    background-color: #f93e3d;
    margin-right: 0.75%;
    border: 2px solid #f93e3d;
}

.edit_button {
    background-color: #0d5ba6;
    border: 2px solid #0d5ba6;
}

table,
th,
td {
    border: 1px solid;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.edit_button:hover {
    width: 100%;
}

.delete_button:hover {
    width: 100%;
}

input {
    padding: 8px 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-family: "Rubik", sans-serif;
    outline: 0;
    transition: 0.2s;
}

input:focus {
    border-color: #0f7ef1;
}

textarea {
    padding: 8px 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-family: "Rubik", sans-serif;
    outline: 0;
    transition: 0.2s;
}

textarea:focus {
    border-color: #0f7ef1;
}

form {
    display: flex;
    flex-direction: column;
}
